.hs-timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
}
#highscores {
    text-decoration: none;
    color: rgb(216, 154, 231);
}
#timer {
    text-align: right;

}
header h1 {
    text-align: center;
}
p {
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    margin:0 35vh
}
button {
    background-color: rgb(54, 2, 175);
    color: white;
    border-radius: 15px;
}
button:hover {
    background-color: rgb(167, 116, 180);
}
#question {
    font-size: larger;
    font-weight: bold;
}
li {
    list-style: none;
    padding: 10px;
    margin: 5px;
    color:white;
    border-radius: 10px;
    background-color: rgb(54, 2, 175);
}
.choice:hover {
    background-color: rgb(167, 116, 180) ;
}
.correct-incorrect {
    opacity: 50%;
}
#submit-button {
    background-color: rgb(54, 2, 175);
    color: white;
    border-radius: 15px;
}
#submit-button:hover {
    background-color: rgb(167, 116, 180);
}
#highscore-table {
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    justify-content: center;
    margin: 0 25vh;
}
h3 {
    text-align: center;
}
#return-to-game {
    text-align: center;
    margin: 20px;
}
.return {
    padding: 10px;
    margin: 5px;
    color:white;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(54, 2, 175);
}
.return:hover {
    background-color: rgb(167, 116, 180);
}